body
{
	background-color:rgb(110,110,110);
	background-size:100% 100%;
}
#container
{
	font-size:17px;
	font-family: 'Roboto Mono';
	margin: auto auto;
	width:1200px;
	height:1080px;
	border-radius:8px;
	position:relative;
	overflow:hidden;
	background:black;
}
h1
{
	font-size:48px;
	font-family: 'Roboto Mono';
	padding-top: 30px;
	text-align:center;
	color:white;
	text-shadow:0px 0px 50px pink;
}
#sceneContent
{
	position:absolute;
	width:100%;
	height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

/* shelf */

.medicationImage {
    cursor: pointer;
    margin: 5px;
    max-width: 100%;
    max-height: 65px;
}

.medicationImage.checked {
    display: block;
}

/* Добавьте стили для .medicationImage.checked */
.medicationImage.checked {
 max-height: 85px;
}


/* Остальные стили оставьте без изменений */
.shelf {
    display: flex;
    justify-content: space-between;
}

.shelf img:nth-child(1) {
    margin-right: 6px;
}

.shelf img:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

#shelfContainer {
    width: 100%;
}

.shelfContent {
    width: 100%;
    position: absolute;
    margin-left: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#shelfPopup {
    width: 1358px;
    height: 1005px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: none; /* Уберите, если не нужно изображение фона */
    background-size: contain; /* Масштабирование для заполнения контейнера */
    background-position: center; /* Центрирование изображения */
}

#overlay-shelf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1000;
}


.confirm {
    font-family: 'Roboto Mono';
    font-size: 30px;
    color: #11016d;
    cursor: pointer;
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.hint-text{
    position: absolute;
    position: fixed;
    top: 12%;
    left: 18%;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.hint-text img{
    width: 100px;
}

.tooltip-text {
    font-family: 'Roboto Mono';
    visibility: hidden;
    width: 200px;
    background-color: #404872;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 105%; /* Позиционирование снизу */
    left: 50%;
    margin-left: -60px; /* Центрирование по горизонтали */
    opacity: 0;
    transition: opacity 0.3s;
}

.hint-text:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Optional: Tooltip arrow */
.tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%; /* Позиционирование стрелки снизу */
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #404872 transparent;
}

.close-btn:hover, .confirm:hover {
    color: #8187e6;
}

.medicines {
    position: absolute;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px 40px;
    z-index: 1000;
}

#modal {
    z-index: 1004; /* Значение z-index должно быть больше, чем у оверлея блокирующего фон, полки с препаратами и оверлея модального окна */
}

.modal-content {
    position: relative;
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Выравнивание по вертикали */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    height: 100%; /* Обеспечиваем полную высоту родительского элемента */
}

.close-and-go-to-index-btn {
    background-color: #454ed1; /* Зеленый цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 15px 15px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 16px; /* Размер шрифта */
    margin: 15px 0 0 0;
    cursor: pointer; /* Указатель мыши при наведении */
    border-radius: 4px; /* Скругление углов */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.close-modal-btn {
    position: absolute;
    top: -20px;
    right: -33px;
    font-size: 30px;
    cursor: pointer;
}

.medicationDescription1 h1{
    font-size: 18px;
    font-weight: 800;
    color:rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 5px;
}

.medicationDescription1{
    display: none;
    position: absolute;
    left: 0;
    width: 200px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    font-size: 14px;
}

#overlay-blocking {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Черный полупрозрачный фон */
    z-index: 1000; /* Больше, чем у других элементов */
}

#overlay-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Черный полупрозрачный фон */
    z-index: 1003; /* Значение z-index должно быть больше, чем у оверлея блокирующего фон и полки с препаратами, но меньше, чем у самого модального окна */
}



@media (max-width: 1200px) {

    #sceneContent {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat !important;
        background-size: calc(100% + 10px) cover !important; /* Увеличение ширины фона на 10 пикселей */
        background-position: left -80px top !important; /* Сдвиг фона на 10 пикселей влево */
    }

    #shelfPopup{
        width: 500px;
        background-repeat: no-repeat;
        height: 100%;
        clip-path: inset(0 0 450px 0);
    }
}


