@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.min.css");
body{
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}

.container {
	display: flex;
	gap: 50px; /* Расстояние между колонками */
	width: 100%; /* Ширина контейнера равна ширине экрана */
	margin: 60px 50px;
}

.column {
	flex-basis: 545px; /* Ширина первой колонки */
}

.second-column {
	flex-grow: 1; /* Вторая колонка растягивается на оставшееся пространство */
}

#logo img {
	width: 270px;
	margin-bottom: 50px;
}

#blue{
	font-size: 38px;
	background-color: rgba(0, 121, 193, 1);
	display: inline-block; /* Используем inline-block для ограничения ширины */
	max-width: 100%; /* Ограничиваем ширину текста */
	text-align: center; /* Центрируем текст внутри элемента */
	padding: 10px; /* Добавляем внутренний отступ для более красивого вида */
	color: aliceblue;
	border-radius: 50px;
	padding: 12px 30px;
	font-weight: 600;
	margin-bottom: 50px;
}

#text{
	font-size: 30px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 50px;
}

span {
	color: rgba(0, 36, 168, 1);
}

#text-2{
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 60px;
}

#title-level{
	font-size: 25px;
	font-weight: 800;
	line-height: 30.26px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	text-transform: uppercase;
	text-align: center;
}

.level-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.level-item-1, .level-item-2 {
    display: flex; /* Делаем эти элементы флекс-контейнерами */
    justify-content: space-between; /* Выравниваем содержимое по центру */
    margin-top: 20px;
}

.level-item-1 a, .level-item-2 a {
    background: rgba(0, 121, 193, 1); /* Цвет фона кнопки */
	width: 90px;
	height: 50px;
	border-radius: 40px;
	display: flex; /* Делаем кнопки флекс-контейнерами */
    justify-content: center; /* Выравниваем текст по горизонтали */
    align-items: center; /* Выравниваем текст по вертикали */
    text-align: center; /* Дополнительное выравнивание текста */

	color: white;
	font-size: 35px;
	font-weight: 700;
	text-decoration: none;
}

.level-item-1 a:hover, .level-item-2 a:hover {
    background: rgb(70, 175, 236); /* Цвет фона кнопки */
	transform: scale(1.1);
	transition: background-color 0.08s ease-in-out, transform 0.1s ease-in-out;
}









