body
{
	background-color:rgb(255, 255, 255);
	font-family: 'Roboto Mono', sans-serif;
	font-size: 5px;
	background-size:100% 100%;
}
#container
{
	font-size:24px;
	margin: 0 auto;
	/* padding:10px 50px; */
	width:1080px;
	position:relative;
	text-align:justify;
	color:rgb(0, 0, 0);
	height:100%;
}
#logo
{
	position: absolute;
	right: 0%;
	bottom: 10%;
	height: 80px;
}
#logo img
{
	width: 300px;
}
h1
{
	line-height: 40px;
	font-size:36px;
	padding-top: 30px;
	text-align:center;
	color:rgb(0, 0, 0);
}
p
{
	margin-bottom: 20px;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	line-height: 28px;
}
a
{
	color:rgb(255, 247, 128);
	position: absolute;
	left: 35%;
	
}
a.button
{
	background-color: rgb(20, 119, 231);
	font-size: 30px;
	text-decoration: none;
	color:rgb(255, 255, 255);
	display:inline-block;
	margin:20px auto;
	padding:10px 55px;
	border:2px solid rgb(9, 145, 236);
	border-radius:12px;
}
a.button:hover
{
	text-shadow:0px 0px 8px white;
	background:rgba(0, 140, 255, 0.678);
}
ul
{
	list-style-type:none;
	font-size:18px;
	padding: 0px;
	margin: 20px;
}
li
{
	color:rgb(255, 80, 150);
	margin: 5px;
}		