body {
	background-color: rgb(255, 255, 255);
	font-family: 'Roboto Mono', sans-serif;
	font-size: 5px;
	background-size: 100% 100%;
	overflow-x: hidden; /* Скрываем горизонтальную прокрутку */
}

#container {
	font-size: 24px;
	margin: 0 auto;
	max-width: 1080px; /* Меняем на max-width */
	width: 100%; /* Адаптируем для мобильных устройств */
	position: relative;
	text-align: justify;
	color: rgb(0, 0, 0);
	height: 100%;
}

#logo {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 80px;
	margin-right: 30px;
	margin-bottom: 60px;
}

#logo img {
	width: 300px;
}

h1 {
	line-height: 40px;
	font-size: 36px;
	padding-top: 30px;
	text-align: center;
	color: rgb(0, 0, 0);
}

p {
	margin-bottom: 20px;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	line-height: 28px;
}

a {
	color: rgb(255, 247, 128);
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /* Центрирование по горизонтали */
}

a.button {
	background-color: rgb(20, 119, 231);
	font-size: 30px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	display: inline-block;
	margin: 20px auto;
	padding: 10px 55px;
	border: 2px solid rgb(9, 145, 236);
	border-radius: 12px;
}

a.button:hover {
	text-shadow: 0px 0px 8px white;
	background: rgba(0, 140, 255, 0.678);
}

ul {
	list-style-type: none;
	font-size: 18px;
	padding: 0px;
	margin: 20px;
}

li {
	color: rgb(255, 80, 150);
	margin: 5px;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
	#container {
		width: 100%;
		font-size: 50px;
		padding: 0 10px; /* Добавляем padding для избежания выхода текста */
	}

	h1 {
		font-size: 24px;
		line-height: 30px;
	}

	p {
		font-size: 18px;
		line-height: 26px;
		margin: 20px 20px; /* Уменьшаем отступы */
	}

	a.button {
		font-size: 30px;
		padding: 10px 40px;
	}

	#logo img {
		width: 200px;
	}

	#logo {
		bottom: 0;
	}
}

@media (max-width: 480px) {
	#container {
		font-size: 16px;
		padding: 0 10px; /* Добавляем padding для избежания выхода текста */
	}

	h1 {
		font-size: 18px;
		line-height: 22px;
	}

	p {
		font-size: 14px;
		line-height: 20px;
		margin: 15px 15px; /* Уменьшаем отступы */
	}

	a.button {
		font-size: 26px;
		padding: 8px 30px;
	}

	#logo img {
		width: 150px;
	}

	#logo {
		margin-bottom: 0px;
	}
}
