.character
{
	position:absolute;
	width:550px;
	height:1200px;
	left:500px;
	top:100px;
	background-repeat:no-repeat;
	background-size: contain; /* Обеспечивает масштабирование изображения */
}

#container[character="alice"] .character
{
	left:100px;
}

#container[character="default"] #characterName
{
	color:rgb(128, 232, 255);
}

#container[character="noname"] .character {
	width: s350px;
	top: 200px;
}

#container[place="street"] #placeName
{
	color: hotpink;
}

@media (max-width: 1200px) {
    .character{
		left: 150px;
		width:250px;
		top: 200px;
	}

	#container[character="noname"] .character {
		left: 100px;
		top: 160px;
	}

}